.advisor-slider {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide {
    z-index: -1;
    opacity: 0;
  }

  .swiper-slide-fully-visible,
  .swiper-slide-visible {
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

  .swiper-slide-fully-visible:not(.swiper-slide-next),
  .swiper-slide-visible:not(.swiper-slide-next) {
    opacity: 0.5;
  }

  .swiper-slide-fully-visible:not(.swiper-slide-next) .advisor-image,
  .swiper-slide-visible:not(.swiper-slide-next) .advisor-image {
    opacity: 0;
  }

  .swiper-slide-next.swiper-slide-fully-visible {
    transition: all 0.1s linear;
    z-index: 1;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--primary);
  }
}
