@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 2, 35;
    --background-end-rgb: 76, 34, 177;

    --light-btn-start-color: #6ee3fa;
    --light-btn-end-color: #266db0;

    --light-btn-hover-start-color: #18dbd5;
    --light-btn-hover-end-color: #a6d6ed;

    --primary: #18dbd5;
    --primary-variant: #a6d6ed;
  }
}

body {
  scroll-behavior: smooth;
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  background-position: center;
  background-size: cover;
  background-repeat: space;
  background-position: left top;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-body {
    background-image: url("/home/bg.jpg"),
      linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      );
  }

  .bg-project {
    background-image: url("/project/bg.jpg"),
      linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      );
  }

  .bg-tokenomics {
    background-image: url("/tokenomics/bg.jpg"),
      linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      );
  }

  .bg-metaverse {
    background-image: url("/metaverse/bg.jpg"),
      linear-gradient(
        to bottom,
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      );
  }

  .wide-letter-spacing {
    letter-spacing: 0.5rem;
  }

  .scroll-indicator-hide {
    scrollbar-color: var(--primary) transparent;
    scroll-margin-inline-start: 4rem;
  }

  .btn-light {
    background: linear-gradient(
      -45deg,
      var(--light-btn-start-color),
      var(--light-btn-end-color)
    );

    &:hover {
      background: linear-gradient(
        -45deg,
        var(--light-btn-hover-start-color),
        var(--light-btn-hover-end-color)
      );
    }
  }

  .main-header {
    line-height: 4.7rem !important;
  }

  .divider-gradient-rtl {
    background: linear-gradient(90deg, #18dbd5ff, #18dbd500);
  }

  .divider-gradient-ltr {
    background: linear-gradient(-90deg, #18dbd5ff, #18dbd500);
  }

  .team-member-white-gradient {
    background: linear-gradient(-180deg, #ffffff00, #ffffff22);
  }

  .secondary-gradient {
    background-image: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  }

  .footer-gradient {
    background-image: linear-gradient(to bottom, #331a73, #2a1a51);
  }
}

input {
  height: 44px;
  border-radius: 0.5rem;
}
