/* Progress Bar Color */
.video-player {
  .progress-bar {
    background-color: #4c22b1; /* Set your desired color */
  }

  .play-button {
    font-size: 2em; /* Increase the size */
  }

  .controls {
    background-color: #050223;
  }
}
